<h1>Home#index</h1>
<h1>Seja Bem vindo!</h1>
<p>Find me in app/views/home/index.html.erb</p>

<!--Isso foi colocado da forma bruta ainda, deve ser alterado-->
<h1><%= @teste %></h1>

<ul>
    <li><a href="https://agenda-contatos-marshalmori.c9users.io/kinds">Tipos</a></li>
    <li><a href="https://agenda-contatos-marshalmori.c9users.io/contacts">Contatos</a></li>
    <li><a href="https://agenda-contatos-marshalmori.c9users.io/addresses">Endereços</a></li>
    <li><a href="https://agenda-contatos-marshalmori.c9users.io/phones">Telefones</a></li>
</ul>